# Ignore output directories
output/
static/__pycache__
utils/__pycache__
report/__pycache__
dynamic/__pycache__
exploits/__pycache__
dynamic/modules/__pycache__
actions-runner/
.venv/
PMPA/
tools/frida-server